@import "/var.scss";



body {
  font-family: "Roboto Slab", serif;
  background-color: rgb(0, 0, 0);
  margin: 0;
}
a {
  text-decoration: none;
  white-space: nowrap;
  color:$linkColor;
}